//Импорты утилит
@use "utils/reset";
@use "utils/mixins" as * ;
@use "utils/fonts";
@use "utils/vars";
@use "utils/slider/main-slider";

html,
body,
main {
  position: relative;
  height: 100%;
}

body {
  font-weight: 600;
  font-family: var(--font-family), sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 800px;
  max-width: 1240px;
  background: var(--light-grey);
  border-radius: var(--br-70);
  color: var(--white);
  overflow: hidden;
  @include mw(1200) {
    max-width: 992px;
  }
  @include mw(992) {
    max-width: 768px;
  }
  @include mw(768) {
    max-width: 576px;
  }
  @include mw(576) {
    max-width: 320px;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}


.ellipse {
  position: relative;
  z-index: 1;

  &:after {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.info-label {
  background: var(--white);
  box-shadow: 15.63px 13.17px 24.68px -4.94px #413C3936;
  padding: 10px 29px;
  border-radius: var(--br-34);

  span {
    font-size: 28px;
    color: var(--dark-grey);
  }
}

.info-text {
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.1;
  }
  p{
    font-size: 15px;
  }

  .info-label {
    display: inline-block;
  }
}

.star {
  position: absolute;
  background-image: url("../image/star.png");
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 18px;

  span {
    font-size: 22px;
  }
}
