:root {
  --font-family: "EuclidCircularA";
  --default-background: #7F7875;
  --light-grey: #A29C9A;
  --white: #FFFFFF;
  --orange: #FF976A;
  --dark-grey: #4B4B4B;
  --br-70: 70px;
  --br-50: 50px;
  --br-34: 34px;
  --br-26: 26px;
}