:root {
  --font-family: "EuclidCircularA";
  --default-background: #7F7875;
  --light-grey: #A29C9A;
  --white: #FFFFFF;
  --orange: #FF976A;
  --dark-grey: #4B4B4B;
  --grey‑beige: #7F7875;
  --grey-neutral: #ADACAC;
  --grey‑brown: #746D68;
  --muted-grey‑brown: #726965;
  --light-neutral-grey: #DBDBDB;
  --neutral-medium-grey: #737373;
  --br-70: 70px;
  --br-50: 50px;
  --br-34: 34px;
  --br-26: 26px;
}