@use 'first-slide';
@use 'second-slide';
@use 'third-slide';
@use 'fourth-slide';
@use 'fifth-slide';

.swiper {
  background: var(--default-background);
  width: 100%;
  height: 100%;
  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.ring-wrapper {
  position: absolute;
  left: -150px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  z-index: 2;
}

.ring {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s ease;
}

.bullets {
  width: 100%;
  height: 100%;
  position: relative;
}

.bullet {
  width: 74px;
  height: 74px;
  background: var(--grey‑brown);
  border-radius: var(--br-50);
  position: absolute;
  transition: 0.3s ease;
  box-shadow: 16px 14px 16px 0 #625B56;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &-icon {
    max-width: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;
    mask-repeat: no-repeat;
    background-color: var(--grey-neutral);
  }
}

.bullet {
  &.active {
    background: var(--light-neutral-grey);
    transform: scale(1.4);

    .bullet-icon {
      background-color: var(--muted-grey‑brown);
    }
  }
}


.progress-ring {
  transform: rotate(-90deg);
}

.progress-bg {
  fill: none;
  stroke: #625B56;
  stroke-width: 10;
}

.slide-label {
  position: absolute;
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  width: 135%;
  color: var(--white);
  left: 384px;
  text-transform: uppercase;
  text-shadow: 4px 4px 13px rgba(0, 0, 0, .25);
  top: 50%;
  transform: translateY(-50%);
}

